.App {
  text-align: center;
  height: 100%;
}
.App input{
  width : 15%;
  text-align: center;
  font-size: 5em;
  font-family:'Courier New', Courier, monospace;
  background-color: rgba(238, 203, 192, 0.3);
  border:none;
  background-blend-mode: color;
}
.App input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App input[type=number] {
  -moz-appearance: textfield;
}

.App h1{
  background: black;
  color: white;
}